.create-bucketlist-form, .create-goal-form, .create-memory-form {
  margin-top: 30%;

  #upload-image-container {

    #upload-goal-image {

    }
  }

  .form-control {
    width: 400px;
  }

  #description {
    height: 150px;
  }

  button {
    width: 425px;
  }
}
