.login-success-container, .signup-success-container {
  background-color: $second-color;
  width: 500px;
  height: 300px;

  .login-success-text, .signup-success-text {
    padding-top: 70px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;

    img {
      margin-bottom: -7px;
      margin-right: 5px;
    }

    .login-success-head, .signup-success-head, a {
      font-family: 'font-extra-bold';
    }

    a {
      color: $primary-color;
      text-decoration: none;
    }

    .login-success-notif, .signup-success-notif {
      font-size: 16px;
    }
  }
}

