<div class="achievements-container" ng-controller="AchievementsCtrl">
  <div class="achievements-header">
    <p>achievements</p>
  </div>
  <div class="achievements-content">
    <div class="achievement">
      <div class="achievement-top">
        <p class="achievement-title">Viking</p>
        <p class="achievement-points">50 points</p>
      </div>
      <div class="achievement-bottom">
        <p class="achievement-obj">Hike 5 unique mountains</p>
        <img src="../images/ClearStar.png"/>
      </div>
    </div>
    <div class="achievement">
      <div class="achievement-top">
        <p class="achievement-title">Viking</p>
        <p class="achievement-points">50 points</p>
      </div>
      <div class="achievement-bottom">
        <p class="achievement-obj">Hike 5 unique mountains</p>
        <img src="../images/BlueStar.png"/>
      </div>
    </div>
    <div class="achievement">
      <div class="achievement-top">
        <p class="achievement-title">Viking</p>
        <p class="achievement-points">50 points</p>
      </div>
      <div class="achievement-bottom">
        <p class="achievement-obj">Hike 5 unique mountains</p>
        <img src="../images/ClearStar.png"/>
      </div>
    </div>
    <p class="achievement-score">205 points</p>
  </div>
</div>
