<div class="achievements-container" ng-controller="AchievementsCtrl">
  <div class="achievements-header">
    <p>achievements</p>
  </div>
  <div class="achievements-content">
    <div class="achievement" ng-repeat="achievement in achievements">
      <div class="achievement-top">
        <p class="achievement-title">{{achievement.name}}</p>
        <p class="achievement-points">{{achievement.points}}</p>
      </div>
      <div class="achievement-bottom">
        <p class="achievement-obj">{{achievement.description}}</p>
        <img ng-src="{{achievement.star}}"/>
      </div>
    </div>
    <p class="achievement-score">{{points}} points</p>
  </div>
</div>
