<div class="browse-container" ng-controller="BrowseBucketlistsCtrl">
  <div class="browse-header">
    <p>browse bucketlists</p>
  </div>
  <div class="browse-content">
    <div class="bucketlist">
      <p class="bucketlist-title">bucketlist title</p>
      <img class="people-icon" src=""/>
      <p class="owner">By Kaceytron</p>
      <img class="main-pic" src=""/>
      <img class="second-pic" src=""/>
      <img class="third-pic" src=""/>
      <p class="tags">tags: tag, here, another, tag, here</p>
    </div>
  </div>
</div>
