<div class="edit-profile-container" ng-controller="EditProfileCtrl">
  <div class="pic-container">
    <img class="pic" src=""/>
    <button class="upload-pic">upload new</button>
  <img class="trash" src=""/>
  </div>
  <div class="edit-profile-form">
    <div class="edit-profile-header">
      <label class="basic-info">basic information</label>
      <label class="public">public</label>
    </div>
    <div class="labels">
      <p class="email">email</p>
      <p>first name</p>
      <p>last name</p>
      <p>gender</p>
      <p>date of birth</p>
    </div>
    <form class="top">
      <div class="form-group">
        <input id="email" name="email" ng-model="editProfile.user.email" type="text" value="thuganomix@yahoo.com" class="form-control">
      </div>
      <div class="form-group">
        <input id="first-name" name="first-name" ng-model="editProfile.firstName.location" type="text" value="Chris" class="form-control">
      </div>
      <div class="form-group">
        <input id="last-name" name="last-name" ng-model="editProfile.lastName.location" type="text" value="Matthews" class="form-control">
      </div>
      <div class="form-group">
        <select name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="form-group">
          <select name="month">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <select name="day">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <select name="year">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button ng-click="editProfile.submit()" id="editProfile" name="editProfile" class="btn btn-success btn-block">create user</button>
      </div>
    </form>
    </div>

  <div class="edit-profile-form-2">
    <form class="bottom">
      <div class="form-group">
        <input id="oldpw" name="oldpw" ng-model="editProfile.user.oldpw" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <input id="pw1" name="pw1" ng-model="editProfile.user.pw1" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <input id="pw2" name="pw2" ng-model="editProfile.user.pw2" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <button ng-click="editProfile.submitPassword()" id="savePw" name="savePw" class="btn btn-success btn-block">change password</button>
      </div>
    </form>
  </div>
</div>
