<div class="edit-goal-container" ng-controller="EditGoalCtrl">
  <div class="edit-goal-form">
    <div class="edit-goal-header">
      <label>edit goal</label>
    </div>
    <div class="labels">
      <p>name</p>
      <p>location</p>
      <p>description</p>
    </div>
    <form class="top">
      <div class="form-group">
        <input id="name" name="name" ng-model="editGoal.goal.name" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <input id="location" name="location" ng-model="editGoal.goal.location" type="text" class="form-control">
      </div>
      <div class="form-group">
        <input id="description" name="description" ng-model="editGoal.goal.description" type="text" class="form-control">
      </div>
      <div class="form-group">
        <button ng-click="editGoal.submit()" id="editGoal" name="editGoal" class="btn btn-success btn-block">edit goal</button>
      </div>
    </form>
  </div>
</div>
