<div class="home-container" ng-controller="HomeCtrl">
  <div class="landing-container">
    <img class="logo" src=""/>
    <img class="slogan" src=""/>
    <div class="splash-button-container">
      <a ui-sref="login">
        <img class="login" src=""/>
      </a>
      <a ui-sref="signup">
        <img class="signup" src=""/>
      </a>
    </div>
  </div>

  <div class="definition-container">
    <h1>what is a bucketlist?</h1>
    <div class="line-separator"></div>
    <p>a bucketlist is a list of goals that an individual wants to accomplish in their lifetime.
      be it skydiving, running with the bulls, breaking a world record, or making a really good pie!
      a bucketlist is our dreams given physical form that we can see, feel, and taste.
      a bucketlist invigorates and emboldens us to rise to the challenge of our dreams.</p>
  </div>

  <div class="home-banner">
    <div class="home-banner-text">
      <p><b>A Drop in the Bucket</b> today leads to
        <br>an ocean of memories tomorrow</p>
    </div>
  </div>

  <div class="our-mission-container">
    <h1>carpe diem ~ sieze the day</h1>
    <div class="line-separator"></div>
    <p>the average life expectancy in the world is approximately 68.5 years old,
    but how much is that actually spent living? showing and offering individuals an opportunity
    to experience things they may not have ever dreamed of, or thought possible in their lifetime
    is a reality with a drop in the bucket.</p>
  </div>

  <div class="feature-container">
    <div class="feature" id="social-aspect-feature">
      <p>social aspect</p>
    </div>
    <div class="feature" id="memory-album-feature">
      <p>memory album</p>
    </div>
    <div class="feature" id="achievement-feature">
      <p>achievements</p>
    </div>
    <div class="feature" id="map-feature">
      <p>map feature</p>
    </div>
  </div>

  <div class="recent-bucketlists-container">
    <p>recently added bucketlists</p>
    <div class="recent-bucketlists">
      <div class="recent-bucketlist">

      </div>
    </div>
  </div>
</div>
