<div class="memory-album-container" ng-controller="MemoryAlbumCtrl">
  <div class="top-content">
    <div class="top-left-content">
      <img class="left-arrow" src="../images/LeftArrow.png"/>
    </div>
    <div class="top-middle-content">
      <img class="selected-image" src="../images/CCPic.jpg"/>
      <p class="memory-title">Visit San Franscisco Comic Con</p>
      <p class="memory-date-complete">completed: 03/11/2016</p>
      <p class="memory-bucketlist">in <a>Events I Want to Attend</a></p>
    </div>
    <div class="top-right-content">
      <img class="right-arrow" src="../images/RightArrow.png"/>
    </div>
  </div>
  <div class="bottom-content">
    <img class="first-memory" src="../images/SocialPic.jpg"/>
    <div class="overlay">
      <p>Go Swimming</p>
    </div>
    <img class="second-memory" src="../images/TravelPic4.jpg"/>
    <div class="overlay2">
      <p>Visit Sydney</p>
    </div>
    <img class="third-memory" src="../images/PiePic.jpg"/>
    <div class="overlay3">
      <p>Bake a Pie</p>
    </div>
    <img class="fourth-memory" src="../images/HalloweenPic.jpg"/>
    <div class="overlay4">
      <p>Carve a Pumpkin</p>
    </div>
  </div>
</div>
