<div class="memory-album-container" ng-controller="MemoryAlbumCtrl">
  <div class="top-content">
    <div class="top-left-content">
      <img class="left-arrow" src="../images/LeftArrow.png"/>
    </div>
    <div class="top-middle-content">
      <img class="selected-image" src="../images/CCPic.jpg"/>
      <p class="memory-title">{{myMemory.name}}</p>
      <p class="memory-date-complete">{{myMemory.completeDate}}</p>
      <p class="memory-bucketlist">in <a>{{myMemory.bucketlist}}</a></p>
    </div>
    <div class="top-right-content">
      <img class="right-arrow" src="../images/RightArrow.png"/>
    </div>
  </div>
  <div class="bottom-content">
    <div class="memory" ng-click="memoryAlbum.changeMemory(memory.name, memory.bucketlist, memory.location, memory.description, memory.owner, memory.members)" ng-repeat="memory in myMemories" >
      <p>{{memory.name}}</p>
    </div>
  </div>
</div>
