<div class="profile-container" ng-controller="ProfileCtrl">
  <div class="profile-header">
    <div class="profile-top-div">
      <img class="user-pic" src=""/>
      <div class="top-header-text">
        <p class="user-name">kaceytron</p>
        <p class="last-online">Last online: Friday, April 1st, 2016</p>
        <p class="user-bio">hey i'm kaceytron i'n the best streamer on twitch.tv and sometimes
          i have nice goals that i should do but i don't do.</p>
      </div>
    </div>
    <div class="bottom-div">
      <div class="bottom-header-text">
        <div class="bucketlists">
        <p class="bucketlists-text"><font color="#39C3E1"><b>6</b></font><br>bucketlists</p>
        </div>
        <div class="divider"></div>
        <div class="bucketlists-completed">
          <p class="bucketlists-completed-text"><font color="#39C3E1"><b>1</b></font><br>bucketlists completed</p>
        </div>
        <div class="divider"></div>
        <div class="goals">
          <p class="goals-text"><font color="#39C3E1"><b>67</b></font><br>goals</p>
        </div>
        <div class="divider"></div>
        <div class="goals-completed">
          <p class="goals-completed-text"><font color="#39C3E1"><b>15</b></font><br>goals completed</p>
        </div>
        <div class="divider"></div>
        <div class="achievements">
          <p class="achievements-text"><font color="#39C3E1"><b>205</b></font><br>achievement points</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <div class="profile-friends">
      <div class="profile-friends-header">
        <img class="icon" src="../images/PeopleIcon.png"/>
        <p class="title">kaceytron's friends</p>
        <a ui-sref="friends" class="view-all">view all</a>
      </div>
      <div class="profile-friends-content">
        <img class="friend-pic" src=""/>
        <img class="friend-pic" src=""/>
        <img class="friend-pic" src=""/>
        <img class="friend-pic" src=""/>
        <img class="friend-pic" src=""/>
        <img class="friend-pic" src=""/>
      </div>
    </div>
    <div class="profile-bucketlists">
      <div class="profile-bucketlists-header">
        <img class="icon" src="../images/ListIcon.png"/>
        <p class="title">kaceytron's bucketlists</p>
        <a ui-sref="view-all-bucketlists" class="view-all">view all</a>
      </div>
    </div>
    <div class="profile-memories">
      <div class="profile-memories-header">
        <img class="icon" src="../images/MemoryIcon.png"/>
        <p class="title">kaceytron's memories</p>
        <a ui-sref="memories" class="view-all">view all</a>
      </div>
    </div>
  </div>
</div>
